<%- include('../partials/header') %>
<main>
  <h1>Player Not Found</h1>
  <h3>Lookup Drafter Profile (Just first name or first name first initial)</h3>
  <form action="/search" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for a drafter"
      required
    />
    <button type="submit">Search</button>
  </form>
</main>
<%- include('../partials/footer') %>
