<%- include('../partials/header') %>
<main>
  <h1>Player Not Found, Minimum 40 drafts to unlock a profile page</h1>
  <h3>
    Lookup Drafter Profile (Just first name or first name first initial with no
    space in between)
  </h3>
  <form action="/search" method="GET">
    <input
      type="text"
      name="query"
      placeholder="Search for a drafter"
      required
    />
    <button type="submit">Search</button>
  </form>
</main>
<%- include('../partials/footer') %>
