<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="hamburger">&#9776;</div>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/lifetime">Lifetime</a></li>
          <li class="has-submenu">
            <a href="#" class="submenu-toggle">Past Seasons</a>
            <ul class="submenu">
              <li><a href="/season/1">Season 1</a></li>
              <li><a href="/season/2">Season 2</a></li>
              <li><a href="/season/3">Season 3</a></li>
              <li><a href="/season/4">Season 4</a></li>
              <li><a href="/season/5">Season 5</a></li>
              <li><a href="/season/6">Season 6</a></li>
              <li><a href="/season/7">Season 7</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#" class="submenu-toggle">Formats</a>
            <ul class="submenu">
              <li><a href="/season/1">MH1</a></li>
              <li><a href="/season/2">MH2</a></li>
              <li><a href="/season/3">MH3</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
