<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="hamburger">&#9776;</div>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/page/1">Page 1</a></li>
          <li><a href="/page/2">Page 2</a></li>
          <li><a href="/page/3">Page 3</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
