<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="hamburger">&#9776;</div>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="has-submenu"></li>
            <a href="#" class="submenu-toggle">Lifetime</a>
            <ul class="submenu">
              <li><a href="/lifetime">Lifetime</a></li>
              <li><a href="/lifetime20">Lifetime Min 20 Drafts</a></li>
              <li><a href="/lifetime40">Lifetime Min 40 Drafts (Profiles)</a></li>
              <li><a href="/lifetimechamps">Lifetime Champions</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#" class="submenu-toggle">Past Seasons</a>
            <ul class="submenu">
              <li><a href="/season/1">Season 1</a></li>
              <li><a href="/season/2">Season 2</a></li>
              <li><a href="/season/3">Season 3</a></li>
              <li><a href="/season/4">Season 4</a></li>
              <li><a href="/season/5">Season 5</a></li>
              <li><a href="/season/6">Season 6</a></li>
              <li><a href="/season/7">Season 7</a></li>
              <li><a href="/season/8">Season 8</a></li>
              <li><a href="/season/9">Season 9</a></li>
              <li><a href="/season/10">Season 10</a></li>
              <li><a href="/season/11">Season 11</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#" class="submenu-toggle">Formats</a>
            <ul class="submenu">
              <li><a href="/adamcube">Adam Cube</a></li>
              <li><a href="/johncube">John Cube</a></li>
              <li><a href="/2x2">2X2</a></li>
              <li><a href="/chaos">Chaos</a></li>
              <li><a href="/dmr">DMR</a></li>
              <li><a href="/mb1">Mystery Booster 1</a></li>
              <li><a href="/mb2">Mystery Booster 2</a></li>
              <li><a href="/mh1">MH1</a></li>
              <li><a href="/mh2">MH2</a></li>
              <li><a href="/mh3">MH3</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
