<%- include('../partials/header') %>
<main>
  <h1>Season 5 Stats</h1>
  <div class="content"></div>
  <p>
    (10/5/23 - 12/28/23) 45 drafts, Winrate Champion and Trophies Champion Chris
    A
  </p>
  <div class="data-table-container">
    <div class="data-table">
      <h2></h2>
      <div class="data-table"></div>
      <table>
        <thead>
          <tr>
            <% if(tableData.length > 0) { %> <%
            Object.keys(tableData[0]).forEach(function(key) { %>
            <th><%= key %></th>
            <% }); %> <% } %>
          </tr>
        </thead>
        <tbody>
          <% tableData.forEach(function(row) { %>
          <tr>
            <% Object.values(row).forEach(function(value) { %>
            <td><%= value %></td>
            <% }); %>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <div class="data-table"></div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>
