<%- include('partials/header') %>
<h1>SLGS Stats</h1>
<div class="content">
  <!-- <p>Season 8</p> -->
</div>
<div class="data-table">
  <h2>Season 8</h2>
  <table>
    <tr>
      <th>Player</th>
      <th>Win Percentage</th>
      <th>Wins - Losses</th>
      <th>Points</th>
      <th>Total Drafts</th>
      <th>Glicko</th>
      <th>Last Set</th>
      <th>Last Date</th>
    </tr>
    <tr>
      <td>Nick D</td>
      <td>78.57%</td>
      <td>11-3</td>
      <td>37</td>
      <td>8</td>
      <td>1861 ± 117</td>
      <td>MH3</td>
      <td>8-8-24</td>
    </tr>
    <tr>
      <td>Gremlin</td>
      <td>420.69%</td>
      <td></td>
      <td></td>
    </tr>
    <!-- Add more rows as needed -->
  </table>
</div>
<%- include('partials/footer') %>
