<%- include('partials/header') %>
<h1>SLGS Stats</h1>
<div class="content">
  <!-- <p>Season 8</p> -->
</div>
<div class="data-table">
  <h2>Season 8</h2>
  <table>
    <tr>
      <th>Player</th>
      <th>Winrate</th>
    </tr>
    <tr>
      <td>Gremlin</td>
      <td>420.69%</td>
      <td>Gremlin2</td>
      <td>69.420%</td>
    </tr>
    <!-- Add more rows as needed -->
  </table>
</div>
<%- include('partials/footer') %>
