<%- include('partials/header') %>
<h1>SLGS Stats</h1>
<div class="content">
  <!-- <p>Season 8</p> -->
</div>
<div class="data-table">
  <h2>Season 8</h2>
  <table>
    <tr>
      <th>Player</th>
      <th>Win Percentage</th>
      <th>Wins - Losses</th>
      <th>Points</th>
      <th>Total Drafts</th>
      <th>Glicko</th>
      <th>Last Set</th>
      <th>Last Date</th>
    </tr>
    <tr>
      <td data-label="Player">Nick D</td>
      <td data-label="Win Percentage">78.57%</td>
      <td data-label="Wins - Losses">11-3</td>
      <td data-label="Points">37</td>
      <td data-label="Total Drafts">8</td>
      <td data-label="Glicko">1861 ± 117</td>
      <td data-label="Last Set">MH3</td>
      <td data-label="Last Date">8-8-24</td>
    </tr>
    <!-- <tr>
      <td data-label="Player">Nick D</td>
      <td data-label="Win Percentage">78.57%</td>
      <td data-label="Wins - Losses">11-3</td>
      <td data-label="Points">37</td>
      <td data-label="Total Drafts">8</td>
      <td data-label="Glicko">1861 ± 117</td>
      <td data-label="Last Set">MH3</td>
      <td data-label="Last Date">8-8-24</td>
    </tr> -->
    <!-- Add more rows as needed -->
  </table>
</div>
<%- include('partials/footer') %>
